@model Product
<form class="" method="post" asp-controller="Home" asp-action="Edit" enctype="multipart/form-data">
    <div asp-validation-summary="All"></div>
    <input asp-for="ProductId" type="hidden" />
    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Price" class="form-label"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price"></span>
    </div>
    <div class="input-group mb-3">
        <div>
            <input type="file" name="imageFile" id="imageFile" class="form-control" />
            <input asp-for="@Model.Image" type="hidden" />
        </div>
    </div>
    <div class="mb-3">
        <img style="width:100px;" src="~/img/@Model.Image" />
    </div>

    <div class="mb-3">
        <label asp-for="CategoryId"></label>
        <select asp-for="CategoryId" asp-items="ViewBag.Categories" class="form-select">
            <option value="0">Hepsi</option>
        </select>
        <span asp-validation-for="CategoryId"></span>
    </div>

    <div class="mb-3 form-check">
        <input asp-for="IsActive" class="form-check-input" />
        <label class="form-check-label" asp-for="IsActive"></label>
        <span asp-validation-for="IsActive"></span>
    </div>

    <button class="btn btn-success" type="submit">Save</button>
</form>