@model List<UserInfo>

@{
    ViewBag.Title= "Katılım Listesi";
}


<main class="text-center">
    <h1>Toplantıya katılım listesi</h1>
    <table class="table table-bordered" >
        <thead>
        <tr>
            <td>Ad</td>       
            <td>Katılım Durumu</td>
            <td>Detay</td>
        </tr>
        </thead>
        <tbody>
            @{int i = 0;}
            @foreach(var user in Model){
                var durum = user.WillAttend == true ? "Evet" : "Hayır";
                var className = user.WillAttend == true ? "table-success" : "table-danger";
                if(user.WillAttend == true)
                {
                    i++;
                }
                <tr class="@className">
                    <td>@user.Name</td>
                    <td>@durum</td>
                    <td><a class="btn btn-sm btn-primary" href="/meeting/Details/@user.Id">Details</a></td>
                </tr>
            }          
        </tbody>
    </table>
    <div class="card">
        <div class="card-body">
            <p>Katılımcı Sayısı: @i</p>
        </div>
    </div>
</main>